# Ignorar a pasta de logs
logs/

# Ignorar arquivos específicos
QuickStart.md
Brush_SYSTEM.md
modelotucadas5.keras
conversor.py

# Outros arquivos Python que geralmente não são necessários
__pycache__/
*.pyc
*.log
*.sh